<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <title>Resources App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"> 
        <script src="https://kit.fontawesome.com/cb9907bc66.js" crossorigin="anonymous"></script>
    </head>
    <body>
    <div class="main-content">
        
            {{>header}}

            <div class="contentBody">

                {{!-- PAGE CONTENT GOES HERE --}}
                <div id="resourceControls">
                    <button onclick="sortByVotes()">SORT BY VOTES</button>
                    <button onclick="sortByDate()">SORT BY DATE</button>                 
                </div>


                <div id="resourcesMainContent">
                    <div class="resource-links">
                        <div>Javascript</div>
                        <div>PHP</div>
                        <div>C</div>
                        <div>Python</div>
                        <div>CSS & Web Design</div>
                        <div>Java</div>
                        <div>C++</div>
                        <div>C#</div>
                        <div>Databases</div>
                        <div>General</div>
                    </div>


                    <div class="all-resources">
                        {{#each resources}}
                            <div class="resource-card">
                                <div class="resource-card-top">
                                    <div class="favourite {{ this.savedClass }}">
                                        <i class="fas fa-star" onclick="addToFavourites(event, '{{this._id}}');"></i>
                                    </div>
                                    <div class="votes {{ this.votedClass }}">
                                        {{!-- FONT AWESOME ARROW --}}
                                        <i class="fas fa-arrow-circle-up" onclick="addVote(event, '{{this._id}}');"></i>
                                        <span> {{ this.votes }} </span>
                                    </div>
                                    <div class="resource-type">
                                        <i class="{{ this.resourceTypeIcon }}"></i>
                                    </div>
                                </div>
                                <div class="resource-card-body">
                                    <div class="resource-group">
                                        {{ this.resourceGroup }}
                                    </div>
                                    <div class="title">
                                        {{ this.title }}
                                    </div>
                                    <div class="desc">
                                        {{ this.description }}
                                    </div>
                                </div>
                                <div class="resource-card-bottom">
                                    <div class="details">
                                        <div class="owner">
                                            Submitted by: {{ this.owner.username }}
                                        </div>
                                        <div class="submitted-date">
                                            {{ this.createdAt }}
                                        </div>                                        
                                    </div>
                                    <div class="link">
                                        <a href="{{ this.link }}" target="_blank">Visit {{ this.title }}</a>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>                    
                </div>
            </div>


        </div>

        {{>footer}}

    </body>
</html>
