<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <title>Resources App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
    <div class="main-content">
        {{>header}}

        <div id="contentBody">
            {{!-- PAGE CONTENT GOES HERE --}}
            <h2>My Resources</h2>
            <div>
                
                {{#if createdResources}}
                <h3>Created Resources</h3>
                    {{#each createdResources}}
                        <div>
                            <h5> {{ this.title }} - {{ this.resourceGroup }} </h5>
                            <p> {{ this.description }} </p>
                            <a href="{{ this.link }}"> {{ this.title }} </a>
                            <p> {{ this.resourceType }} </p>
                        </div>
                    {{/each}}
                {{/if}}

                {{#if savedResources}}
                <h3>Saved Resources</h3>
                    {{#each savedResources}}
                        <div>
                            <h5> {{ this.title }} - {{ this.resourceGroup }} </h5>
                            <p> {{ this.description }} </p>
                            <a href="{{ this.link }}"> {{ this.title }} </a>
                            <p> {{ this.resourceType }} </p>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        </div>


        </div>

        {{>footer}}
    </body>
</html>