<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <title>Resources App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
    <div class="main-content">
        {{>header}}

        <div class="contentBody">
            {{!-- PAGE CONTENT GOES HERE --}}
            <h2>My Resources</h2>
            <div>
                
                {{#if createdResources}}
                    <div id="createdResources">
                        <h3>Created Resources</h3>
                        <div class="all-resources">
                            {{#each createdResources}}
                                <div class="resource-card">
                                    <h4 class="resource-title"> {{ this.title }}</h4>
                                    <div class="resource-info">
                                        <span> {{ this.resourceGroup}} </span>
                                        <span> {{ this.resourceType }} </span>
                                    </div>
                                    <div class="resource-description"> {{ this.description }} </div>
                                    <a href="{{ this.link }}"> {{ this.title }} </a>
                                </div>
                             {{/each}}
                        </div>
                    </div>
                {{/if}}

                {{#if savedResources}}
                    <div id="createdResources">
                        <h3>Created Resources</h3>
                        <div class="all-resources">
                            {{#each savedResources}}
                                <div class="resource-card">
                                    <h4 class="resource-title"> {{ this.title }}</h4>
                                    <div class="resource-info">
                                        <span> {{ this.resourceGroup}} </span>
                                        <span> {{ this.resourceType }} </span>
                                    </div>
                                    <div class="resource-description"> {{ this.description }} </div>
                                    <a href="{{ this.link }}"> {{ this.title }} </a>
                                </div>
                             {{/each}}
                        </div>
                    </div>
                {{/if}}

            </div>
        </div>


        </div>

        {{>footer}}
    </body>
</html>