<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <title>Resources App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"> 
        <script src="https://kit.fontawesome.com/cb9907bc66.js" crossorigin="anonymous"></script>
    </head>
    <body>
    <div class="main-content">
        {{>header}}

        <div class="contentBody">
            {{!-- PAGE CONTENT GOES HERE --}}
            <div class="user-profile-header">
                <h2>{{ user.username }}</h2>
            </div>
            <div class="user-resources-info">
                <div class="user-resources-info-stats">
                    <div>{{ user.createdResources }}</div>
                    <div>{{ user.savedResources }}</div>
                    <div>{{ user.createdResourceVotes }}</div>
                </div>
                <div class="user-resources-info-text">
                    <div>Created Resources</div>
                    <div>Saved Resources</div>
                    <div> Votes Received</div>
                </div>                
            </div>

            <div class="resource-controls">
                <button onclick="sortByVotes()">SORT BY VOTES</button>
                <button onclick="sortByDate()">SORT BY DATE</button>                 
            </div>

            <div class="user-resources">
                {{#each resources}}
                    <div class="resource-card">
                        <div class="resource-card-top">
                            <div class="favourite {{ this.savedClass }}">
                                <i class="fas fa-star" onclick="addToFavourites(event, '{{this._id}}');"></i>
                            </div>
                            <div class="votes {{ this.votedClass }}">
                                <i class="fas fa-arrow-circle-up" onclick="addVote(event, '{{this._id}}');"></i>
                                <span> {{ this.votes }} </span>
                            </div>
                            <div class="resource-type">
                                <i class="{{ this.resourceTypeIcon }}"></i>
                            </div>
                        </div>
                        <div class="resource-card-body">
                            <div class="resource-group">
                                {{ this.resourceGroup }}
                            </div>
                            <div class="title">
                                {{ this.title }}
                            </div>
                            <div class="desc">
                                {{ this.description }}
                            </div>
                        </div>
                        <div class="resource-card-bottom">
                            <div class="details">
                                <div class="submitted-date">
                                   Submitted: <br>
                                    {{ this.createdAt }}
                                </div>                                        
                            </div>
                            <div class="link">
                                <a href="{{ this.link }}" target="_blank">Visit Resource</a>
                            </div>
                        </div>
                    </div>
                {{/each}}            
            </div>

        </div>


    </div>
        {{>footer}}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js "integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="/js/index.js"></script>  
    </body>
</html>